<!-- blog entry -->
<h1><%= link_to entry.title.html_safe, post_path(entry) %></h1>
<p class="lead">от admin</p>
<hr>
<p><%= published_datetime(entry) %> </p>
<hr>

<p><%= entry.short_description.try(:html_safe) %></p>
<%= link_to post_path(entry), :class => "btn btn-primary" do %>
  Далее <span class="glyphicon glyphicon-chevron-right"></span>
<% end -%>
<hr>
