<% @side_posts ||= [] -%>

<h4>Популярное</h4>
<div class="row">
    <div class="col-lg-12">
      <ul class="list-unstyled">
        <% @side_posts.each do |d| -%>
          <li><%= link_to d.title, post_path(d) %></li>
        <% end -%>

        </ul>
    </div>
    <!--div class="col-lg-6">
        <ul class="list-unstyled">
            <li><a href="#alien-abductions">Alien Abductions</a>
            </li>
            <li><a href="#business-casual">Business Casual</a>
            </li>
            <li><a href="#robots">Robots</a>
            </li>
            <li><a href="#fireworks">Fireworks</a>
            </li>
        </ul>
    </div-->
</div>

